<div class="footer bg-primary text-center">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Logotipo_USTA_Colombia.gif"
    alt="Logo de la Universidad Santo Tomas"
    class="centered-image"
  />
  <p class="paragraph small-text">
    <span>Universidad Santo Tomas - Seccional Tunja © 2024</span>
    <span>Facultad Ingenieria de Sistemas - Clase .net core</span>
    <span>Guia: Juan Francismo Mendoza</span>
    <span>Juan David Amezquita Nuñez - Felipe Rodriguez Pesca</span>
  </p>
</div>
