@model proyecto2Corte.Models.Peticion

@{
    ViewData["Title"] = "Eliminar petición: " + Model.Asunto;
}

<div class="row text">
    <div class="col-md-8 offset-md-2">
        <h3>Eliminar petición: @Model.Asunto</h3>
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdPeticion" />
            <div class="form-group">
                <label asp-for="Asunto" class="control-label"></label>
                <input asp-for="Asunto" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" readonly></textarea>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Confirmar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
