<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Name" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Last Name" />
    </div>
  </div>
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-envelope"></i>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Email" />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-lock"></i>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Password" />
    </div>
  </div>
  <div class="form-group">
    <label for="tipoVinculacion">Tipo de Vinculación</label>
    <select class="form-control" id="tipoVinculacion">
      <option value="">Seleccione una opción</option>
      <option value="estudiante">Estudiante</option>
      <option value="profesor">Profesor</option>
    </select>
  </div>
</form>
